/* ___________________________________Importo fuentes personalizadas___________________________________________________*/
/* Importo una fuente que descargue para estilizar la letra de mis enlaces*/
@font-face {
  font-family: "coolLetter";
  src: url(../fonts/Aukrey\ mooa\ Demo.ttf);
}

@font-face {
  font-family: "single";
  src: url(../fonts/Queensides-3z7Ey.ttf)
}

@font-face {
  font-family: "NextBro";
  src: url(../fonts/TrashTalk.ttf);
}

/* ___________________________________Estilos para barra de navegacion solicitada ___________________________________________________*/
header {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5086c1;
  padding: 10px 20px;
  border-radius: 5px;
}

header img{
  max-width: 50px;
  height: 50px;
  flex: 3;
}

/* ___________________________________Estilos para el nav___________________________________________________*/

/* Con este estilo busco disponer la lista de enlaces horizontalmente ya que esta se orienta verticalmente por defecto  */
nav ul {
  list-style: none;
  display: flex;
  margin: 20;
  padding: 0;
}

/* como los enlaces quedan pegados le aplico un margin a la derecha a cada elemento de la lista para lograr separacion entre ellos */
/* nav li {
  margin-right: 40px;
  cursor: pointer;
} */

nav a {
  font-family: "Handmade", Arial; /*aplico la fuente customizada, sino es posible cargarla se aplicara el estilo Arial*/
  font-size: large;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 1s;
}

/* ___________________________________disposicion de los elemnetos en el body ___________________________________________________*/

body {
  background-color: #d8f8e1;
}

/* ___________________________________Estilos para la caja de búsqueda, icono lupa y botón ___________________________________________________*/

.container-search{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  
}

/* uso flex para la disposicion de los elementos ademas de redondear y definir color blanco para generar el efecto de que el boton y el cuadro de input estan en un mismo elemento*/
.search {
  margin-left: 10px;
  display: flex;
  background: #fff;
  border-radius: 25px;
  padding: 10px;
  border-color: #4682b4;
  border-style: solid;
}

/* redondeo y redimenciono el cuadro de busqueda */
.search input {
  margin: auto;
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 200px;
  outline: none;
}


/* le doy color al boton de busqueda, lo redondeo y establezco el cursor en pointer como se solicita */
.search button {
  background-color: #4682b4;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 5px 15px;
  cursor: pointer;
}

/* Aplico los efectos al boton, los cuales son un cambio de color a una tonalidad de verde, una iluminacion en tono naranja y aplico los tiempos de transicion */
.search button:hover {
  background-color: #4caf50;
  box-shadow: 0 0 20px rgba(255, 196, 0, 0.3);
  transition: background-color 0.1s, color 0.5s, box-shadow 0.3s;
}

/* ___________________________________container general de las cards ___________________________________________________*/

.cards-containers {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


/* ___________________________________Estilos para la card de cada libro ___________________________________________________*/

.card {
  position: relative;
  width: 550px;
  height: auto;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.card:hover .delete-button{
  background-color: red;
  display: flex;
}

.card:hover .edit-button{
  background-color: #4CAF50;
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
}

.container-img {
  display: flex;
  align-items: center;
  text-align: center;
}

.container-img img{
  height: 200px;
  margin: auto;
}

.container .card-info {
  padding-left: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  font-family: "coolLetter", Arial;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-info p {
  font-family: "single", Arial;
  font-size: large;
  margin-bottom: 4px;
  max-height: 100px;
  overflow: auto;
}

.card strong {
  font-weight: bold;
}

.delete-button {
  position: absolute;
  width: 60px;
  height: 25px;
  top: 10px; 
  right: 10px; 
  background-color: white; 
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  display: none;
}

.edit-button {  
  font-family: "coolLetter", Arial;
  font-size: large;
  position: absolute;
  width: 60px;
  height: 25px;
  top: 45px; 
  right: 10px; 
  background-color: white; 
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  display: none;
}

h2 {
  font-family: "single", Arial;
}

/* ___________________________________Estilos parael formulario ___________________________________________________*/

#addBookForm {
  margin-top: 15px;
  margin-right: 15px;
  display: none;
  flex: 2;
  align-self: flex-start;
  padding: 5px 60px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  overflow-y: auto;
  height: 740px;
}

#addBookForm h2 {
  font-family: "single", Arial;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: large;
  font-family: "single", Arial;
  margin-bottom: 5px;
  font-weight: bold;
}


input,
textarea {
  /* font-weight: bold; */
  font-size: medium;
  font-family: "single", Arial;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width:auto;
  box-sizing: border-box;
  outline: none;
}

button {
  font-family: "coolLetter", Arial;
  font-size: large;
  background-color: #4682b4;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color:#4CAF50;
}



.container-ppal {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.add-book-icon {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
}










.form-columns{
  display: flex;
  flex-direction: row;
  }
  .form-column{
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }


/* Agrega un fondo oscuro para oscurecer el fondo principal */
.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ajusta el valor alpha para la opacidad */
  z-index: 1;
}



.edit-popup {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  overflow-y: auto;
}

@media(max-height: 770px){
  .edit-popup{
    height: 700px;
    overflow-y: auto;
  }

  #addBookForm {
    width: 800px;
    height: 560px;
    overflow-y: auto;
  }

  .cards-containers {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: start;
  }

  .card {
    width: 560px;
    height: 360px;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }
}

.buttons-form{
  font-family: "coolLetter", Arial;
  font-size: large;
  display: flex;
  flex-direction: row;
}

.buttons-form .cancelButtonForm{
  background-color: red;
}

.buttons-form .editButtonForm{
  background-color: #4CAF50;
}

.buttons-form button{
margin: 5px;
width: 100%;
}

.edit-popup h2 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-popup form {
  display: flex;
  flex-direction: column;
}

.edit-popup label {
  margin-bottom: 5px;
}

.edit-popup input,
.edit-popup textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  height: auto;
}

.edit-popup button {
  background-color: #4682b4;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .edit-popup button:hover {
  background-color: #4caf50;
} */